html {
  height: 100%;
  background: url(https://data.whicdn.com/images/311865499/original.jpg?t=1525554149);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% top;
  background-attachment: fixed;
}

body {
  background-color: transparent;
  margin: 0;
}

.logo {
  height: 50px;
  margin: 0px;
  background-color: transparent;
  display: inline-block;
  border-radius: 20px;
  border-width: 5px;
  padding: 5px;
  margin-right: 5px;
}

.title {
  min-height: 50px;
  margin: 5px;
  display: inline-block;
  text-align: center;
  border-radius: 20px;
  border-width: 5px;
  padding: 5px;
  font-size: 40px;
}

footer {
  position: fixed;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.473);
  min-height: 35px;
  width: 100%;
}

footer > img {
  width: 6vw;
  height: 100%;
  margin: 0px;
  background-color: rgba(128, 128, 128, 0.534);
  display: inline-block;
  float: left;
}

.queue_song {
  width: 500px;
  min-height: 35px;
  margin: 0.5% auto;
  background-color: rgba(128, 128, 128, 0.473);
  text-overflow: ellipsis;
  display: block;
  float: left;
}

.queue_song > img{
  height: 35px;
  background-color: rgba(128, 128, 128, 0.473);
  display: inline;
}

.queue_song > div {
  background-color: rgba(255, 255, 255, 0.418);
  display: inline;
  float: right;
  text-align: center;
  padding: 10px;
  margin: 2px;
}
